<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P5R</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/imgs/p5rfv.png" type="image/x-icon">
</head>

<body>
    <div id="all">
        <div id="main-container">
            <header id="header">
                <img src="/static/imgs/p5r.png" alt="Persona 5 Royal">
            </header>
            <nav>
                <ul>
                    <li><a href="/index.html" class="hover-underline">Home</a></li>
                    <li><a href="/templates/guias.html" class="hover-underline">Guias</a></li>
                    <li><a href="/templates/updates.html" class="hover-underline">Updates</a></li>
                </ul>
            </nav>

            <main style="flex: 1; overflow: hidden;">
                <div id="content" style="
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 2px;
                width: 100%;
                max-width: 100%;
                height: 80%;
                overflow-y: auto;
                scrollbar-color: #ff0000 #0c0c0c;
                scrollbar-width: thin;">
                    <h1 style="font-size: 42px; 
                        font-weight: 750;
                        text-shadow: 3px 3px 3px #7a7a7a;">Updates do site</h1>
                    <article id="article" style="width: 100%;">
                        <h2 style="margin-bottom: 5px;">Mais recente</h2>
                        <p>-21/4/25: Fórum upado &#128491;</p>
                        <p>-21/4/25: Páginas secundárias base iniciadas &#128736;</p>
                        <p>-20/4/25: Páginas base finalizadas &#128126;</p>
                        <p>-19/4/25: Páginas base em construção &#128736;</p>
                        <p>-18/4/25: Começo do desenvolvimento do site&#128640;</p>
                    </article>
                </div>
            </main>
        </div>
        <div id="footer-container">
            <footer>
                <p>© 2025 Persona 5 Royal Fansite | Conteúdo oficial © ATLUS/Sega</p>
                <p>Site criado por fãs, sem afiliação ou fins lucrativos</p>

            </footer>
        </div>
    </div>
</body>

</html>